In [1]:
import pandas as pd

In [2]:
import glob
file_list = glob.glob('./data/train/label/*.csv')

In [3]:
file_list[:10]

['./data/train/label\\0.csv',
 './data/train/label\\1.csv',
 './data/train/label\\10.csv',
 './data/train/label\\100.csv',
 './data/train/label\\1000.csv',
 './data/train/label\\1001.csv',
 './data/train/label\\1002.csv',
 './data/train/label\\1003.csv',
 './data/train/label\\1004.csv',
 './data/train/label\\1005.csv']

In [4]:
df = pd.read_csv(file_list[0])
for file in file_list[1:]:
    df1 = pd.read_csv(file)
    df = pd.concat([df,df1])
df.head()

   ID      Category  Pos_b  Pos_e     Privacy
0   0      position     66     75  香港电影国语配音名家
1   0          name     76     78         周思平
2   0         movie     87     91       《上海滩》
3   0          name     92     94         周润发
4   0  organization     84     86         TVB

In [5]:
df[df['Privacy'] == '陕西舞蹈家协']

     ID      Category  Pos_b  Pos_e Privacy
0  1189  organization      0      5  陕西舞蹈家协

In [6]:
df.tail()

    ID  Category  Pos_b  Pos_e       Privacy
5  999     movie     39     44        《渴望激情》
6  999     movie     45     50        《昨日英雄》
7  999     movie     51     56        《保卫爱情》
8  999  position     67     78  上海影评人奖”最佳男演员
9  999      name     27     28            南帝

In [11]:
df[df['Privacy'] == '<伞>>']

     ID Category  Pos_b  Pos_e Privacy
1  2050    movie     10     13    <伞>>

In [17]:
from tqdm import tqdm
import codecs
for line in tqdm(codecs.open('./data/train.txt',encoding='utf-8')):
    if line and len(line.split()) == 2:
        word,label = line.split()
        print(word)
        break

0it [00:00, ?it/s]

北